<%= simple_form_for(@locality, :data => {sub_id: params[:sub_id]}) do |f| %>


  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <%#= f.input :suburb_id, collection: @region, label_method: :name, value_method: :id, label: "Region", input_html: {id: "region_link"} %>
    <%#= f.input :suburb_id, collection: @city, label_method: :name, value_method: :id, label: "City", input_html: {id: "suburb_link"} %>
    <%= f.input :suburb_id, label: "Suburb", as: :hidden, input_html: {id: "locality_link", value: params[:sub_id]} %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :status, as: :hidden, input_html: {value: 1} %>

  </div>

  <div class="w3-container">
    <%= f.button :submit, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back', locality_index_path(params[:sub_id]), class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' %>
  </div>
<% end %>


<script type="text/javascript">

    $(document).ready(function () {
        $('#region_link').change(function () {
            $.ajax({
                url: "<%= update_city_loc_path %>",
                data: {
                    region_id: $('#region_link').val()
                },
                dataType: "script"
            });
        });
    });
    $('#suburb_link').change(function () {
        $.ajax({
            url: "<%= update_suburb_path %>",
            data: {
                city_id: $('#suburb_link').val()
            },
            dataType: "script"
        });
    });

</script>
