<div class="col-md-2"></div>
<div class="w3-container col-md-8 col-md-offset-2 w3-responsive">


  <legend>Localities</legend>

  <div class="w3-right">
    <h3><%= @suburb.name %></h3>
  </div>
  <table class="w3-container w3-card-4 w3-table table-bordered table-striped w3-table-all table-condensed">
    <thead>
    <tr class="w3-blue">
      <th>Name</th>
      <th>Desc</th>
      <th>Suburb</th>
      <th class="col-md-2" colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @localities.each do |locality| %>
      <tr>
        <td><%= locality.name %></td>
        <td><%= locality.desc %></td>
        <td><%= locality.suburb.name %></td>
        <td><%= link_to 'Show', locality, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_locality_path(locality, sub_id: params[:suburb_locality_id]), class: 'w3-btn w3-brown w3-text-white w3-border w3-border-brown w3-round w3-small w3-hover-brown w3-hover-text-white' %></td>
        <td>
          <% if locality.status %>
            <%= link_to disable_locality_path(locality.suburb.id, locality), class: 'w3-btn w3-red w3-border w3-border-red w3-round w3-small' do %>
              <i class="glyphicon glyphicon-ban-circle"></i>
            <% end %>
          <% elsif !locality.status %>
            <%= link_to enable_locality_path(locality.suburb.id, locality), class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small' do %>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to suburb_index_path(city_suburb_id: @suburb.city_id), class: 'w3-btn w3-black w3-border w3-border-black w3-round w3-small w3-hover-black w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
  <%= link_to new_locality_path(sub_id: params[:suburb_locality_id]), class: 'w3-btn w3-green w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white ' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
  <br>
  <br>
  <br>
</div>
<div class="col-md-2"></div>