<div class="col-md-4"></div>
<div class="w3-container col-md-4 col-md-offset-4">
  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" style="padding-bottom: 6%; padding-top:2%;">
    <table class="w3-container w3-table table-bordered w3-table-all table-striped">
      <tr>
        <td class="w3-blue col-md-4"><strong>Name </strong></td>
        <td style="padding-left: 6%" class="w3-center"><%= @locality.name %></td>
      </tr>

      <tr>
        <td class="w3-blue col-md-4"><strong>Description </strong></td>
        <td style="padding-left: 6%" class="w3-center"><%= @locality.desc %></td>
      </tr>
      <tr>
        <td class="w3-blue col-md-4"><strong>Suburb</strong></td>
        <td style="padding-left: 6%" class="w3-center"><%= @locality.suburb.name %></td>
      </tr>
    </table>
  </div>
  <div class="w3-container">
    <%= link_to 'Back', locality_index_path(@locality.suburb_id), class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left', style: 'margin-right: 4px' %>
    <%= link_to 'Edit', edit_locality_path(@locality, sub_id: @locality.suburb.id), class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-left' %>
  </div>
</div>