<div class="col-md-4"></div>
<div class="w3-container col-md-4 col-md-offset-4">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :email %>
    <%= f.input :role_id %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="w3-container">
    <%= f.button :submit, "Sign up",class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
</div>
<div class="col-md-4"></div>