<%= simple_form_for(@suburb,:data =>{cit_id: params[:cit_id]}) do |f| %>
  <%#= f.error_notification %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <%= f.input :city_id,  as: :hidden, input_html: {id: "region_link",value: params[:cit_id]} %>
    <%= f.input :name %>
    <%= f.input :desc %>
    <%= f.input :city,label: "City", input_html: {id: "city_link",as: :hidden} %>
    <%= f.input :status, as: :hidden,input_html: {value: true} %>
  </div>

  <div class="w3-container">
    <%= f.button :submit,class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back', suburb_index_path(params[:cit_id]), class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left', style: 'margin-right: 4px' %>
  </div>
<% end %>


<!--getting the suburb based on region and city-->
<script type="text/javascript">
    $(document).ready(function () {
        $('#region_link').change(function () {
            $.ajax({
                url: "<%= update_city_path %>",
                data: {
                    region_id: $('#region_link').val()
                },
                dataType: "script"
            });
        });
    });
</script>
