<div class="col-md-2"></div>
<div class="w3-container col-md-8 col-md-offset-2 w3-responsive">


  <legend>Suburbs</legend>


  <div class="w3-right">
    <h3><%= @city.name %></h3>
  </div>

  <table class="w3-table w3-card-4 w3-table-all table-striped table-bordered table-condensed">
    <thead>
    <tr class="w3-blue">
      <th class="col-md-2">Name</th>
      <th>Description</th>
      <th class="col-md-2">City</th>
      <th class="col-md-2" colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @suburbs.each do |suburb| %>
      <% loc_num = Locality.where(suburb_id: suburb.id).count %>
      <% logger.info "Locality number:: #{loc_num.inspect}" %>
      <tr>
        <td><%= suburb.name %></td>
        <td><%= suburb.desc %></td>
        <td><%= suburb.city.name %></td>
        <td><%= link_to 'Show', suburb, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Localities ('+loc_num.to_s+')', locality_index_path(suburb), class: 'w3-btn w3-teal w3-border w3-border-teal w3-round w3-small w3-hover-teal w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_suburb_path(suburb, cit_id: params[:city_suburb_id]), class: 'w3-btn w3-brown w3-text-white w3-border w3-border-brown w3-round w3-small w3-hover-brown w3-hover-text-white' %></td>
        <td>
          <% if suburb.status %>
            <%= link_to  disable_suburb_path(suburb.city.id, suburb), class: 'w3-btn w3-red w3-border w3-border-red w3-round w3-small' do%>
              <i class="glyphicon glyphicon-ban-circle"></i>
            <% end %>
          <% elsif !suburb.status %>
            <%= link_to  enable_suburb_path(suburb.city.id, suburb), class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small' do%>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to city_index_path(region_city_id: @city.region_id), class: 'w3-btn w3-black w3-border w3-border-black w3-round w3-small w3-hover-black w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>

  <%= link_to  new_suburb_path(cit_id: params[:city_suburb_id]), class: 'w3-btn w3-green w3-text-white w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
  <br>
  <br>
</div>
<div class="col-md-2"></div>