<div class="col-md-4"></div>
<div class="col-md-4">
  <legend>Log in</legend>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="w3-container">
    <%= f.button :submit, "Log in",class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-black w3-hover-border-black w3-hover-text-white w3-center' %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
<div class="col-md-4"></div>