
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%#= f.input :role_id %>
    <%= f.input :role_id,collection: @role_list,html5: true,label_method: :first, value_method: :last %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
