

<!--<div class="bg">-->
<!--  /* The image used */-->
<!--      background-image: url(<%#= asset_path 'pb2.jpg'%>);-->

<!--      /* Full height */-->
<!--      height: 100%;-->

<!--      /* Center and scale the image nicely */-->
<!--      background-position: center;-->
<!--      background-repeat: no-repeat;-->
<!--      background-size: cover;-->

<!--</div>-->
<%= image_tag("pb3.jpg", {:style => " height: 10%;width: 100%;background-position: center;background-repeat: no-repeat;background-size: cover;margin-top: -20px;"}) %>
<%#= image_tag ("image/pb.jpg", {:style => 'height:50%;width:100%;margin-bottom:20px;'}) %>