<%= simple_form_for(@contact) do |f| %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
    <%= f.input :surname %>
    <%= f.input :othernames %>
    <%= f.input :phone_number, :input_html => {:type => "phone"} %>
    <%= f.input :locality_id, label: "Region" ,collection: @region, label_method: :name, value_method: :id, input_html: {id: "region_link"} %>
    <%= f.input :locality_id, label: "City", collection: @city, label_method: :name, value_method: :id, input_html: {id: "city_link"} %>
    <%= f.input :locality_id,  label: "Suburb",collection: @suburb, label_method: :name, value_method: :id, input_html: {id: "suburb_link"} %>
    <%= f.input :locality_id, collection: @loc_list,  label_method: :first, value_method: :last, label: "Locality", input_html: {id: "locality_link",class: "form-group combobox"} %>
    <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
    <%= f.input :active_status, as: :hidden, input_html: {value: 1, class: 'form-control w3-input'} %>
    <%= f.input :del_status, as: :hidden, input_html: {value: 0, class: 'form-control w3-input'} %>
  </div>

  <div class="w3-container">
    <%= f.button :submit, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back', contacts_path, class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left' %>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $("#region_link").change(function () {
            $.ajax({
                url: "<%= get_region_path %>",
                data: {
                    region_id: $('#region_link').val()
                },
                dataType: "script"
            });

        });

        $("#city_link").change(function () {
            $.ajax({
                url: "<%= get_city_path %>",
                data: {
                    city_id: $('#city_link').val()
                },
                dataType: "script"
            });

        });

        $('form').attr('autocomplete', 'off');

        $('.combobox').combobox();

        $('span.input-group-addon').addClass("hidden");
    })
</script>
