<div class="col-md-2"></div>
<div class="w3-container col-md-8 col-md-offset-2 w3-responsive">

  <fieldset>
    <legend>Contacts</legend>
    <div class="w3-container w3-card-4 col-md-4 w3-light-grey w3-margin">
      <%= simple_form_for :filter_main, :method => "get" do |f| %>
        <%= f.input :surname, label: "Surname" %>
        <%= f.input :phone_number, label: "Phone Number" %>
        <%= f.input :from_date, label: "From Date", as: :date, html5: true, class: "form-control" %>
        <%= f.input :to_date, label: "To Date", as: :date, html5: true %>

        <%= button_tag(type: 'submit', class: "w3-btn w3-teal w3-border w3-border-teal w3-round w3-small") do %>
          <i class="glyphicon glyphicon-filter" aria-hidden="true"></i> Filter
        <% end %>


      <% end %>
      <br>
    </div>
  </fieldset>
  <!--  <br>-->
  <br/>
  <table class="w3-container w3-table table-bordered w3-table-all table-striped table-condensed">
    <thead>
    <tr class="w3-blue">
      <th class="col-md-2">Surname</th>
      <th class="col-md-2">Othernames</th>
      <th class="col-md-2">Phone number</th>
      <th class="">Locality</th>
      <th colspan="3" class="col-md-2"></th>
    </tr>
    </thead>

    <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.surname %></td>
        <td><%= contact.othernames %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.locality.name if contact.locality %></td>
        <!--        <td><%#= contact.user.username if contact.user %></td>-->
        <td><%= link_to 'Show', contact, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact), class: 'w3-btn w3-brown w3-text-white w3-border w3-border-brown w3-round w3-small w3-hover-brown w3-hover-text-white' %></td>
        <td>
          <% if contact.active_status %>
            <%= link_to 'Disable', disable_contact_path(contact.id), class: 'w3-btn w3-red w3-border w3-border-red w3-round w3-small' %>
          <% elsif !contact.active_status %>
            <%= link_to 'Enable', enable_contact_path(contact.id), class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <div>
    <%= link_to 'New Contact', new_contact_path, class: 'w3-btn w3-green w3-border w3-border-green w3-round-large w3-hover-green w3-hover-text-white w3-left' %>
    <%#= will_paginate @contacts, class: "w3-card-4 w3-right", renderer: BootstrapPagination::Rails, :params => {:controller => "contacts", :action => "index"} %>
    <br/>
    <br/>
    <br/>
  </div>

</div>
<div class="col-md-2"></div>

<script>
    $(document).ready(function () {
        $(".radio_div div input").click(function () {
            $("#date_div").addClass("hidden");
            $("#search-field").removeClass("hidden");
            $("#narrative_div").addClass("hidden");
            //$("#date_div").fadeIn('slow');
        });
        $("#firstname").click(function () {
            if ($("#firstname").is(":checked")) {
                $("#search-field").attr("placeholder", "Firstname");
                $("#search-field2").removeClass("hidden")
                $("#search-field").removeClass("hidden");
                $("#search-field3").addClass("hidden")
            }
        });
        ////////////////////////////////////////////////////////////////////////////
        $("#phone_number").click(function () {
            if ($("#phone_number").is(":checked")) {
                $("#search-field").attr("placeholder", "Mobile number");
                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
                $("#search-field3").addClass("hidden")
            }
        });

        $("#create_date").click(function () {
            if ($("#create_date").is(":checked")) {
                $("#search-field").attr("placeholder", "Start Date");
                $("#search-field").datetimepicker();
                $("#search-field3").attr("placeholder", "End Date");
                $("#search-field3").datetimepicker();

                $("#date_div").addClass("hidden");
                $("#search-field").removeClass("hidden");
                $("#search-field2").removeClass("hidden")
                $("#search-field3").removeClass("hidden")
            }
        });

        // $(function () {
        //     $('#datetimepicker4').datetimepicker();
        // });
    });
</script>