<div class="col-md-4"></div>
<div class="w3-container col-md-4 col-md-offset-4">
  <div class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" style="padding-bottom: 6%; padding-top:2%;">

    <table class="w3-container w3-table table-bordered w3-table-all table-striped">
      <tr>
        <td class="w3-blue"><strong>Surname </strong></td>
        <td style="padding-left: 6%"><%= @contact.surname %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Othername(s) </strong></td>
        <td style="padding-left: 6%"><%= @contact.othernames %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>User</strong></td>
        <td style="padding-left: 6%"><%= @contact.user.username if @contact.user %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Phone number </strong></td>
        <td style="padding-left: 6%"><%= @contact.phone_number %></td>
      </tr>

      <tr>
        <td class="w3-blue"><strong>Locality</strong></td>
        <td style="padding-left: 6%"><%= @contact.locality.name %></td>
      </tr>
    </table>
  </div>
  <div class="w3-container">
    <%= link_to 'Back', contacts_path, class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left', style: 'margin-right: 4px' %>
    <%= link_to 'Edit', edit_contact_path(@contact), class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-left' %>
  </div>
</div>