
<%= simple_form_for(@permissions_role) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :permission_id %>
    <%= f.input :role_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
