<p id="notice"><%= notice %></p>

<h1>Permissions Roles</h1>

<table>
  <thead>
    <tr>
      <th>Permission</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions_roles.each do |permissions_role| %>
      <tr>
        <td><%= permissions_role.permission_id %></td>
        <td><%= permissions_role.role_id %></td>
        <td><%= link_to 'Show', permissions_role %></td>
        <td><%= link_to 'Edit', edit_permissions_role_path(permissions_role) %></td>
        <td><%= link_to 'Destroy', permissions_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permissions Role', new_permissions_role_path %>
