<div class="col-md-4"></div>
<div class="col-md-4 col-md-offset-4">
  <legend class="w3-center">Sign In</legend>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
      <%= f.input :name, required: false, autofocus: true,label: "Username" %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="w3-container span1">
      <%= f.button :submit, "SIGN IN",class: 'btn-block w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-teal w3-hover-border-teal w3-hover-text-white' %>
    </div>
  <% end %>
</div>
<div class="col-md-4"></div>