<%= simple_form_for(@city, :data =>{reg_id: params[:reg_id]}) do |f| %>
  <%#= f.error_notification %>

  <div class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin">
    <%= f.input :name %>
    <%= f.input :desc ,label: "Description"%>
    <%= f.input :status,input_html: {value: 1},as: :hidden %>
    <%= f.input :region_id,as: :hidden, input_html: {value: params[:reg_id]} %>
  </div>

  <div class="w3-container">
    <%= f.button :submit,class: 'w3-btn w3-blue w3-border w3-border-blue w3-round-large w3-hover-blue w3-hover-text-white w3-right' %>
    <%= link_to 'Back', city_index_path(params[:reg_id]), class: 'w3-btn w3-black w3-border w3-border-black w3-round-large w3-hover-black w3-hover-text-white w3-left', style: 'margin-right: 4px' %>
  </div>
<% end %>
