<div class="col-md-2"></div>
<div class="w3-container col-md-8 col-md-offset-2 w3-responsive">


  <legend>Cities</legend>
  <div class="w3-right">
    <h3><%= @region.name %> Region</h3>
  </div>
  <table class="table w3-card-4 w3-table-all table-bordered table-condensed">
    <thead>
    <tr class="w3-blue">
      <th class="col-md-2">Name</th>
      <th>Description</th>
      <th class="col-md-2">Region</th>
      <th class="col-md-2" colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @cities.each do |city| %>
      <% sub_num = Suburb.where(city_id: city.id).count %>
      <% logger.info "Suburb number:: #{sub_num.inspect}" %>

      <tr>
        <td class="w3-center col-md-2 "><%= city.name %></td>
        <td class="w3-center "><%= city.desc %></td>
        <td class="w3-center "><%= city.region.name %></td>

        <td><%= link_to 'Show', city, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Suburbs ('+sub_num.to_s+')', suburb_index_path(city), class: 'w3-btn w3-teal w3-border w3-border-teal w3-round w3-small w3-hover-teal w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_city_path(city, reg_id: params[:region_city_id]), class: 'w3-btn w3-brown w3-text-white w3-border w3-border-brown w3-round w3-small w3-hover-brown w3-hover-text-white' %></td>
        <td>
          <% if city.status %>
            <%= link_to  disable_city_path(city.region.id, city), class: 'w3-btn w3-red w3-border w3-border-red w3-round w3-small' do%>
              <i class="glyphicon glyphicon-ban-circle"></i>
            <% end %>
          <% elsif !city.status %>
            <%= link_to  enable_city_path(city.region.id, city), class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small' do%>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to regions_path, class: 'w3-btn w3-black w3-border w3-border-black w3-round w3-small w3-hover-black w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>
  <%= link_to new_city_path(reg_id: params[:region_city_id]), class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
  <br>
  <br>
</div>
<div class="col-md-2"></div>