<div class="col-md-4"></div>
<div class="col-md-4 col-md-offset-4">
<legend>New City</legend>

<%= render 'form', city: @city %>
</div>
<div class="col-md-4"></div>
<%#= link_to 'Back', city_index_path(params[:reg_id]) %>
