<div class="col-md-2"></div>
<div class="w3-container col-md-8 col-md-offset-2 w3-responsive">


  <legend>Regions</legend>

  <table class="w3-table w3-card-4 table-bordered w3-table-all table-striped table-condensed">
    <thead>
    <tr class="w3-blue">
      <th class="col-md-2">Name</th>
      <th>Description</th>
      <th class="col-md-2" colspan="4"></th>
    </tr>
    </thead>

    <tbody>
    <% @regions.each do |region| %>
    <% city_num = City.where(region_id: region.id).count %>
      <% logger.info "City number:: #{city_num.inspect}" %>

      <tr>
        <td><%= region.name %></td>
        <td><%= region.desc %></td>
        <!--        Create a new route for cities and pass a parameter in it-->
        <td><%= link_to 'Show', region, class: 'w3-btn w3-blue w3-border w3-border-blue w3-round w3-small w3-hover-blue w3-hover-text-white' %></td>
        <td><%= link_to 'Cities ('+city_num.to_s+')', city_index_path(region), class: 'w3-btn w3-teal w3-border w3-border-teal w3-round w3-small w3-hover-teal w3-hover-text-white' %></td>
        <td><%= link_to 'Edit', edit_region_path(region), class: 'w3-btn w3-brown w3-text-white w3-border w3-border-brown w3-round w3-small w3-hover-brown w3-hover-text-white' %></td>

        <td>
          <% if region.status %>
            <%= link_to disable_region_path(region.id), data: { confirm: 'Are you sure?' },class: 'w3-btn w3-red w3-border w3-border-red w3-round w3-small' do %>
              <i class="glyphicon glyphicon-ban-circle"></i>
            <% end %>
          <% elsif !region.status %>
            <%= link_to enable_region_path(region.id), data: { confirm: 'Are you sure?' },class: 'w3-btn w3-green w3-border w3-border-green w3-round w3-small' do %>
              <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          <% end %>
        </td>

      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


  <%= link_to new_region_path, class: 'w3-btn w3-green w3-text-white w3-border w3-border-green w3-round w3-small w3-hover-green w3-hover-text-white' do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
</div>
<div class="col-md-2"></div>