<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse w3-blue w3-border-blue">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar w3-white"></span>
        <span class="icon-bar w3-white"></span>
        <span class="icon-bar w3-white"></span>
      </button>
      <% if user_signed_in? %>


      <%= link_to 'Phonebook', root_path, class: 'navbar-brand w3-text-white' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav w3-text-white navbar-right ">


        <%= render 'layouts/navigation_links' %>

        <% else %>
          <%= render 'layouts/navi_emp_links' %>
        <% end %>


      </ul>
    </div>
  </div>
</nav>

