<%# add navigation links to this file %>



<li class="w3-hover-white">
  <%= link_to contacts_path, class: "w3-hover-text-blue w3-text-white" do %>
    <i class="glyphicon glyphicon-phone-alt"></i> Contact
  <% end %>

</li>

<li class=" w3-hover-white dropdown">

  <a href="#" class="dropdown-toggle w3-text-white w3-hover-text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-wrench"></span> Setup</a>
  <ul class="dropdown-menu">
    <!--    <li><a href="#">Action</a></li>-->
    <!--    <li><a href="#">Another action</a></li>-->
    <!--    <li><a href="#">Something else here</a></li>-->
    <!--    <li role="separator" class="divider"></li>-->

    <li class="w3-hover-white">
      <%= link_to regions_path, class: "w3-hover-text-blue" do %>
        <i class="glyphicon glyphicon-globe"></i> Region
      <% end %>

      <%= link_to roles_path, class: "w3-hover-text-blue" do %>
        <i class="glyphicon glyphicon-globe"></i> Role
      <% end %>

      <%= link_to permissions_path, class: "w3-hover-text-blue" do %>
        <i class="glyphicon glyphicon-globe"></i> Permission
      <% end %>

      <%= link_to permissions_roles_path, class: "w3-hover-text-blue" do %>
        <i class="glyphicon glyphicon-globe"></i> Manage Permissions
      <% end %>
    </li>
  </ul>
</li>

<!--<li class="w3-hover-white dropdown">-->

<!--  <a href="#" class="dropdown-toggle w3-text-white w3-hover-text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Setup-->
<!--    <span class="caret"></span></a>-->

<!--  <ul class="w3-white dropdown-menu">-->

<!--      <li class="w3-hover-white">-->
<%#= link_to 'Region', regions_path, class: "w3-text-black" %>
<!--      </li>-->
<!--      <li role="separator" class="divider"></li>-->
<!--      <li class="w3-hover-white">-->
<%#= link_to 'City', cities_path, class: "w3-text-black" %>
<!--      </li>-->
<!--      <li role="separator" class="divider"></li>-->
<!--      <li class=" w3-hover-white">-->
<%#= link_to 'Suburb', suburbs_path, class: "w3-text-black" %>
<!--      </li>-->
<!--      <li role="separator" class="divider"></li>-->
<!--      <li class=" w3-hover-white">-->
<%#= link_to 'Locality', localities_path, class: "w3-text-black" %>
<!--      </li>-->

<!--  </ul>-->
<!--</li>-->

<li class=" w3-hover-white dropdown">

  <a href="#" class="dropdown-toggle w3-text-white w3-hover-text-blue" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-user"></span> <%= current_user.name.titleize %></a>
  <ul class="dropdown-menu">
    <!--    <li><a href="#">Action</a></li>-->
    <!--    <li><a href="#">Another action</a></li>-->
    <!--    <li><a href="#">Something else here</a></li>-->
    <!--    <li role="separator" class="divider"></li>-->
    <li>  <%= link_to 'Edit Profile', edit_user_registration_path, class: "w3-text-blue" %></li>
    <li>  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "w3-text-blue" %></li>
  </ul>
</li>
